@import url("https://fonts.googleapis.com/css?family=Figtree");

/*GENERAL APP STYLING*/
.App {
  text-align: center;
  color: white;
}
body {
  background-color: #40513b;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*LINKS*/
a:link {
  color: #edf1d6;
  text-decoration: none;
}
a:hover {
  color: white;
  /* text-decoration: underline; */
  border-bottom: #edf1d6 solid;
}
a:visited {
  color: white;
}

/*NAVIGATION*/
.Nav {
  color: white;
  float: left;
  text-align: left;
  min-height: 100vh;
  text-decoration: none;
  list-style-type: none;
  border-right: solid 1px #edf1d6;
  font-family: "Figtree", serif;
}
ul {
  list-style: none;
  text-align: right;
  padding: 25px;
}
ul li {
  margin-bottom: 1.5em;
}

/*HEADER*/
.Header {
  color: white;
  text-align: center;
  margin: 0px;
  padding: 10px;
  border-bottom: solid 1px #edf1d6;
  vertical-align: middle;
}
.Header-text {
  display: inline-block;
  vertical-align: super;
  padding: 0.5rem;
  font-size: large;
  font-family: "Figtree", serif;
  font-weight: 100;
}
h1 {
  font-size: 3rem;
  font-family: "Figtree", serif;
  font-weight: 100;
  text-align: left;
  padding-left: 8rem;
}
p {
  text-align: left;
  padding-left: 8rem;
}

.button {
  /*ALIGN LEFT BUT RIGHT OF NAV*/
  display: flex;
  background-color: #609966;
  color: white;
  border-radius: 7px;
  box-shadow: none;
  box-sizing: unset;
  border: none;
  font-family: "Figtree", serif;
  padding: 10px;
  margin-left: 8rem;
}

/*FORMS*/
.input {
  background-color: #40513b;
  border: solid white 2px;
  border-radius: 5px;
  display: block;
  padding: 2%;
  width: 70%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 10px;
}
input:focus {
  color: white;
  box-shadow: none;
  outline: none;
}
input::placeholder {
  color: #c8dbbe;
}
.message-input {
  height: 150px;
}
.label {
  display: block;
  text-align: left;
  margin-left: 8rem;
}

/*FILTER BUTTONS*/
.filter-buttons {
  background-color: #40513b;
  border: solid 1px #c8dbbe;
  font-family: "Figtree", serif;
  padding: 10px;
  color: white;
  border-radius: 20px;
  box-shadow: none;
  box-sizing: unset;
  max-width: fit-content;
  margin: 0.5rem;
}
.filter-container {
  display: flex;
  flex-direction: row;
}
/*IMAGES*/
.profile-picture-rectangle {
  border-radius: 25px;
  padding: 15px;
  display: flex;
}
.profile-picture-circle {
  max-width: 150px;
  max-width: 150px;
  border-radius: 50%;
  padding: 15px;
  display: flex;
}
.project-pictures {
  border-radius: 25px;
  padding: 15px;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
