/*GENERAL APP STYLING*/
body {
  background-color: hsl(106, 16%, 27%);
  height: 100%;
}
#root {
  height: 100%;
}
.Container {
  padding-top: 4rem;
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100%;
}
main {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 920px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
main::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
.single-column {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.article-body {
  display: grid;
  gap: 20px;
}
.hidden {
  display: none;
}

/*LINKS*/
a {
  font-weight: 800;
}

/*NAVIGATION*/
.Nav {
  color: white;
  height: 100%;
  border-right: solid 0.5px #edf1d6;
  padding: 30px;
  padding-left: 8%;
  background-color: #40513b;
}
.Nav a {
  font-weight: 400;
  text-decoration: none;
  padding: 4px 0px;
}
.Nav a:hover {
  border-bottom: solid 4px #c8dbbe;
  background-color: #c8dbbe20;
}
.active {
  border-bottom: solid 4px #c8dbbe;
}
.Nav ul {
  list-style: none;
  text-align: right;
  padding: 0;
}
.Nav li {
  margin-bottom: 15px;
}

/*HEADER*/
header {
  color: white;
  text-align: center;
  margin: 0px;
  padding: 10px;
  border-bottom: solid 0.5px #edf1d6;
  position: fixed;
  width: 100%;
  background-color: #40513b;
}
header > a {
  display: inline-block;
  padding: 8px;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
}
.Home-Heading {
  display: flex;
  align-items: center;
  gap: 40px;
}
.Page-Heading {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
h1 {
  font-size: 4rem;
  font-weight: 100;
}
h2 {
  font-size: 2rem;
  margin-bottom: 16px;
}
h3 {
  font-size: 1.2rem;
  margin-top: 8px;
  padding-left: 1rem;
}

.button {
  text-align: left;
  background-color: #609966;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 18px;
  font-size: 1.2rem;
  font-weight: 600;
  max-width: fit-content;
}
.button:hover {
  background-color: #edf1d6;
  color: #40513b;
}

/*FORMS*/
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.input {
  background-color: #40513b;
  border: solid white 2px;
  border-radius: 10px;
  display: block;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 4px;
  resize: vertical;
}
input:focus {
  color: white;
  box-shadow: none;
  outline: none;
}
::placeholder {
  color: #c8dbbe;
}
.message-input {
  height: 150px;
}
.label {
  display: block;
  text-align: left;
}

/*FILTER BUTTONS*/
.filter-buttons {
  background-color: #40513b;
  border: solid 2px #c8dbbe;
  padding: 10px 18px;
  color: white;
  border-radius: 30px;
  box-shadow: none;
  box-sizing: unset;
  font-weight: 700;
  font-size: 1.4rem;
  cursor: pointer;
}
.filter-buttons:hover {
  background-color: #c8dbbe20;
}
.filter-buttons-selected,
.filter-buttons-selected:hover {
  background-color: #c8dbbe;
  color: #40513b;
}
.filter-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* PROJECT MODAL */
.project-modal {
  background-color: #edf1d6;
  padding: 30px;
  border-radius: 20px;
  position: absolute;
}
.project-modal h1,
.project-modal h2,
.project-modal h3,
.project-modal p,
.project-modal a {
  color: #40513b;
}

/*IMAGES*/
.about-image {
  height: 300px;
  object-fit: fill;
  overflow: hidden;
  border-radius: 25px;
}
.profile-picture-rectangle {
  position: relative;
  top: -40%;
}
.profile-picture-circle {
  max-height: 150px;
  max-width: 150px;
  border-radius: 50%;
  object-fit: fill;
  overflow: hidden;
}
.project-pictures {
  border-radius: 25px;
  min-width: 100%;
}
.home-grid {
  display: grid;
  grid-template-columns: auto;
  gap: 40px;
}
.home-grid > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  cursor: pointer;
}
.project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.project-grid > div {
  cursor: pointer;
}
